In [1]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import pandas as pd

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_temps = session.query(Measurement).filter(extract('month', Measurement.date)==6)

In [5]:
#  3. Convert the June temperatures to a list.
june_list = [temp.tobs for temp in june_temps]

#print(june_list)

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_list,columns=['June Temps'])
june_df.head()

   June Temps
0        78.0
1        76.0
2        78.0
3        76.0
4        77.0

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_temps = session.query(Measurement).filter(extract('month', Measurement.date)==12)

In [9]:
# 7. Convert the December temperatures to a list.
dec_list = [temp.tobs for temp in dec_temps]

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_list,columns=['December Temps'])
dec_df.head()

   December Temps
0            76.0
1            74.0
2            74.0
3            64.0
4            64.0

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [44]:

#Find the percepitation for June 2010
june_2010 = session.query(Measurement).filter(extract('month', Measurement.date)== 6).filter(extract('year', Measurement.date)== 2010)
june2010_list = [temp.tobs for temp in june_2010]
#print(june2010_list)
june10_df = pd.DataFrame(june2010_list,columns=['June 2010 temps'])
june10_df.describe()

       June 2010 temps
count       242.000000
mean         74.925620
std           2.823039
min          67.000000
25%          73.000000
50%          75.000000
75%          77.000000
max          85.000000

# Deliverable 3

In [21]:
# find precep for June 2017
june_2017 = session.query(Measurement).filter(extract('month', Measurement.date)== 6).filter(extract('year', Measurement.date)== 2017)
june2017_list = [temp.tobs for temp in june_2017]
june17_df = pd.DataFrame(june2017_list,columns=['June 2017 temps'])
june17_df.describe()

       June 2017 temps
count       191.000000
mean         77.219895
std           2.622538
min          71.000000
25%          75.000000
50%          77.000000
75%          79.000000
max          83.000000

In [26]:
dec_2010 = session.query(Measurement).filter(extract('month', Measurement.date)== 12).filter(extract('year', Measurement.date)== 2010)
dec2010_list = [temp.tobs for temp in dec_2010]
dec_2010_df = pd.DataFrame(dec2010_list,columns=['dec_2010 temps'])
dec_2010_df.describe()

       dec_2010 temps
count      235.000000
mean        70.208511
std          3.915116
min         58.000000
25%         68.000000
50%         70.000000
75%         73.000000
max         80.000000

In [28]:
dec_2016 = session.query(Measurement).filter(extract('month', Measurement.date)== 12).filter(extract('year', Measurement.date)== 2016)
dec2016_list = [temp.tobs for temp in dec_2016]
dec_2016_df = pd.DataFrame(dec2016_list,columns=['dec_2016 temps'])
dec_2016_df.describe()

       dec_2016 temps
count      200.000000
mean        71.130000
std          3.419292
min         60.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         78.000000